@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .container{
        @apply max-w-[1920px] mx-auto px-5 md:px-10
    }
}

#tags::-webkit-scrollbar {
    width: 4px; /* width of the scrollbar */
    height: 8px;
}
  
#tags::-webkit-scrollbar-thumb {
    background-color: rgb(64, 168, 253); /* color of the thumb */
    border-radius: 2px; /* rounded corners of the thumb */
}
  
#tags::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* color of the track */
    height: 2px;
}

#rightTags::-webkit-scrollbar {
    width: 4px; /* width of the scrollbar */
    height: 8px;
}
  
#rightTags::-webkit-scrollbar-thumb {
    background-color: rgb(64, 168, 253); /* color of the thumb */
    border-radius: 2px; /* rounded corners of the thumb */
}
  
#rightTags::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* color of the track */
    height: 2px;
}